.loader-wrapper {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999!important;
	top: 0;
	left : 0;
    background-image : url("https://trello-attachments.s3.amazonaws.com/5ab2a74cd2edfc30a63b1f8a/5ac4c260fe4ce123ac853650/93b965a3f1575a9381fbfd2fc1c76304/SalvageData_preloader_01.gif");
    background-size : 310px 310px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color : white!important;
    opacity : 1.0;
    }

@media only screen and (max-width: 512px) {
     .loader-wrapper {
         background-size : 210px 210px !important;
     }
     .loader-wrapper .idwn-main {
         top: 45% !important;
     }
}

@media only screen and (max-width: 1024px) and (min-width: 513px) {
     .loader-wrapper {
         background-size : 310px 310px !important;
     }
}

@media only screen and (min-width: 1025px) and (max-width: 1368px) {
     .loader-wrapper {
         background-size : 360px 360px !important;
     }
}

@media only screen and (min-width: 1369px) and (max-width: 1680px) {
     .loader-wrapper {
         background-size : 400px 400px !important;
     }
     
     .loader-wrapper .idwn-main {
         top : 52% !important;
         
     }
}

@media only screen and (min-width: 1681px) {
     .loader-wrapper {
         background-size : 440px 440px !important;
     }
     
     .loader-wrapper .idwn-main {
         top : 52% !important;
         
     }
}
    .loader-wrapper .idwn-main {
    text-align: center; 
    display: block; 
    position : relative!important;
    top : 51%;
    margin-top: 100px!important;  
    z-index: 9999999!important;
    background : white!important;
    font-weight : bold!important;
    opacity : 1 !important;
    font-family : DinPro-Bold !important;
    font-size : 16px;
    }


/*Loader 1- Spinning */


.loader-wrapper .loader-main {
	position: relative;
    left: 50%;
    top: 50%;
    height: 20vw;
    width: 20vw;
    margin: -10vw 0 0 -10vw; 
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-bottom-color: #3498db; 
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-wrapper div[data-id='loader']:before{
	content: "";
    position: absolute;
    top:2%;
    bottom: 2%;
    left: 2%;
    right: 2%; 
    border: 3px solid transparent;
    z-index: 2;
    border-top-color: #db213a;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;

}

.loader-wrapper div[data-id='loader']:after{
	content: "";
    position: absolute;
    top:5%;
    bottom: 5%;
    left: 5%;
    right: 5%; 
    border: 3px solid transparent;
    border-top-color: #dec52d;
    z-index: 2;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;

}
